/* CSS styles for the hire guides page */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    margin-top:55px;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

h1 {
    margin: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.guide {
    border: 1px solid #ddd;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.avatar {
    width: 80px;
    height: 80px;
    background-color: #ccc;
    border-radius: 50%;
    margin: auto;
    margin-bottom: 10px;
    background-position: center;
    background-size: cover;
}

.guide-info {
    text-align: center;
}

h2 {
    margin-top: 0;
}

button.hire-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

button.hire-button:hover {
    background-color: #45a049;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
